In [14]:
#### it's a draft notebook ####

In [12]:
# environments for higher order function
# https://www.youtube.com/watch?v=3Zi0kxmoMtA&list=PL6BsET-8jgYXhzd5ou1faNsWVoWBRUY8q&index=3
def repeat(f,x):
    # repeat f(x) until f(x) == x
    print(f"x = {x}")
    print(f"assgin x to (x+5) // 3 until x = (x+5) // 3")
    print()
    while f(x) !=x:
        print(f"(x+5) // 3 != x is True")
        print(f"assgin x to ({x}+5) // 3")
        x = f(x)
        print(f"x = {x}")
    print(f"(x+5) // 3 != x is False")
    print(f"x = {x}")
    return x

def g(y):
    return (y+5) // 3

In [13]:
result = repeat(g,5)

x = 5
assgin x to (x+5) // 3 until x = (x+5) // 3

(x+5) // 3 != x is True
assgin x to (5+5) // 3
x = 3
(x+5) // 3 != x is True
assgin x to (3+5) // 3
x = 2
(x+5) // 3 != x is False
x = 2

In [15]:
# Nested definition
# https://www.youtube.com/watch?v=qLZhkM45Jtc&list=PL6BsET-8jgYXhzd5ou1faNsWVoWBRUY8q&index=4
def make_adder(n):
    def adder(k):
        return k+n
    return adder

In [17]:
make_adder(3)(4) # make_adder(3) is a function, which will add its "inner" para with 4

7

In [ ]:
# local names
# https://www.youtube.com/watch?v=1Y4eemG0hzk&list=PL6BsET-8jgYXhzd5ou1faNsWVoWBRUY8q&index=5
def f(x,y):
    return g(x)

def g(a):
    return a + y  # y is not defined in g(a) environment,even though it's defined in f(x,y)
# result = f(1,2) this will cause error


def f(x,y):
    def g(a):
        return a+y # now g(a) is in the f(x,y) environment, f is g's parent
        # it's a nested defined function
    return g(x)
# result = f(1,2)  this will be ok

In [18]:
def f(x,y):
    def g(a):
        return a+y
    return g(x)
f(1,2)

3

In [25]:
# self-reference
# https://www.youtube.com/watch?v=31EDjrN1x5k&list=PL6BsET-8jgYXhzd5ou1faNsWVoWBRUY8q&index=8
def print_sums(x):
    print(f"x = {x}")
    # print_sums's para x is used to store the sum of all the passed arguements
    print(f"in print_sums({x})")
    def next_sum(y):
        print(f"in next_sum({y})")
        print(f"y={y}")
        print(f"print_sums({x}+{y})")
        return print_sums(x+y)
        
    return next_sum

In [26]:
print_sums(1)(2)(3)
# print_sums(1) is a function, take 2 as para,
# return a function that take 1+2 as para and print its para also

x = 1
in print_sums(1)
in next_sum(2)
y=2
print_sums(1+2)
x = 3
in print_sums(3)
in next_sum(3)
y=3
print_sums(3+3)
x = 6
in print_sums(6)

In [27]:
# lab 2 Q2 WWPD: higher order functions
def cake():
    print('beets')
    def pie():
        print('sweets')
        return 'cake'
    return pie

chocolate = cake()

beets

In [28]:
chocolate()

sweets

'cake'

In [34]:
def cake():
    print('beets')
    def pie():
        print('sweets')
        return 'cake'
    return pie
chocolate = cake()
more_chocolate, more_cake = chocolate(), cake

def snake(x,y):
    if cake == more_cake:
        return chocolate
    else:
        return x+y

beets
sweets

In [38]:
cake = 'cake'
snake(10,20)

30

In [40]:
# Currying example
def keep_ints(cond,n):
    for i in range(1,n+1):
        if cond(i):
            print(i)
            

def is_even(x):
    return x%2==0

keep_ints(is_even,5)

2
4

In [41]:
# Currying example
def make_keeper(n):
    def f(cond):
        for i in range(1,n+1):
            if cond(i):
                print(i)
    return f

make_keeper(5)(is_even)

2
4

In [47]:
# self-reference example
def print_delayed(x):
    def f(y):
        print(x)
        return print_delayed(y)
    return f

f = print_delayed(1)
f = f(2)

1

In [49]:
# f = f(3)
f = f(4)(5)

3
4

In [64]:
# lnhn algorithm
def split(n):
    return n//10, n%10

def sum_digits(n):
    # n: 1234 --> 1+2+3+4 = 10
    if n<10:
        return n
    else:
        all_but_last, last = split(n)
        return sum_digits(all_but_last) + last

def luhn_sum(n):
    print(f"we are in luhn_sum now")
    if n<10:
        print(f"n<10, n = {n}")
        return n
    else:
        print(f"n>10")
        all_but_last, last = split(n)
        print(f"split(n) to all_but_last: {all_but_last}, last: {last}")
        return luhn_sum_double(all_but_last) + last

def luhn_sum_double(n):
    print(f"we are in luhn_sum_double now")
    all_but_last, last = split(n)
    luhn_digit = sum_digits(2 * last)
    if n<10:
        print(f"n<10, n = {n}")
        return luhn_digit
    else:
        print(f"n>10")
        print(f"all_but_last: {all_but_last}, last: {last}, luhn_digit: {luhn_digit}")
        return luhn_sum(all_but_last) + luhn_digit

In [66]:
luhn_sum_double(12345)

we are in luhn_sum_double now
n>10
all_but_last: 1234, last: 5, luhn_digit: 1
we are in luhn_sum now
n>10
split(n) to all_but_last: 123, last: 4
we are in luhn_sum_double now
n>10
all_but_last: 12, last: 3, luhn_digit: 6
we are in luhn_sum now
n>10
split(n) to all_but_last: 1, last: 2
we are in luhn_sum_double now
n<10, n = 1

15

In [71]:
# iteration & recursion
def sum_digits_iter(n):
    digit_sum = 0
    while n>0:
        print(f"n = {n}")
        n,last = split(n)
        print(f"split(n) into a new n {n} and last {last}")
        digit_sum = digit_sum + last
        print(f"digit_sum = digit_sum {digit_sum} + last {last}")
    return digit_sum

def sum_digits_rec(n,digit_sum):
    if n==0:
        print(f"n=0 digit_sum={digit_sum}")
        return digit_sum
    else:
        n,last = split(n)
        print(f"n!=0")
        print(f"split(n) into a new n {n} and last {last}")
        print(f"digit_sum + last = {digit_sum} + {last}")
        return sum_digits_rec(n,digit_sum+last)

In [72]:
sum_digits_iter(1234)

n = 1234
split(n) into a new n 123 and last 4
digit_sum = digit_sum 4 + last 4
n = 123
split(n) into a new n 12 and last 3
digit_sum = digit_sum 7 + last 3
n = 12
split(n) into a new n 1 and last 2
digit_sum = digit_sum 9 + last 2
n = 1
split(n) into a new n 0 and last 1
digit_sum = digit_sum 10 + last 1

10

In [73]:
sum_digits_rec(1234,0)

n!=0
split(n) into a new n 123 and last 4
digit_sum + last = 0 + 4
n!=0
split(n) into a new n 12 and last 3
digit_sum + last = 4 + 3
n!=0
split(n) into a new n 1 and last 2
digit_sum + last = 7 + 2
n!=0
split(n) into a new n 0 and last 1
digit_sum + last = 9 + 1
n=0 digit_sum=10

10

In [77]:
# recursion example 
def multiply(m,n):
    assert (m >0 and n>0)
    if n == 1:
        print(f"n = {n}")
        return m
    else:
        print(f"m = {m}, n = {n}")
        return m +  multiply(m,n-1)

multiply(5,3)

m = 5, n = 3
m = 5, n = 2
n = 1

15

In [79]:
def rec(x,y):
    if y>0:
        print(f"y>0, y={y}, x={x}")
        return x*rec(x,y-1)
    return 1

rec(3,2)

y>0, y=2, x=3
y>0, y=1, x=3

9

In [92]:
# recursion version of hailstone
def hailstone(n,count=1):
    print(int(n))
    if n % 2 == 0:
        count += 1
        n = n/2
        
    else:
        count += 1
        n = n*3+1
    
    if n == 1:
        print(int(n))
        return count
    else:
        return hailstone(n,count)
    
a = hailstone(10)

10
5
16
8
4
2
1

In [93]:
a

7

In [97]:
# while version of hailstone
def hailstone(n):
    assert n>0
    count = 1
    print(int(n))
    while n >1:
        count+=1
        if n%2 ==0:
            n = n/2
            print(int(n))
        else:
            n = n*3+1
            print(int(n))
    return count
a = hailstone(10)

10
5
16
8
4
2
1

In [99]:
a

7

In [129]:
# hellp merge function 
def d(n):
    # 43 --> 4,3 
    return n//10 , n-(n//10)*10

def s(n):
    # 45 --> 54
    biga,bigb = d(n)
    if biga<bigb:
        n = bigb*10+biga
    return n

In [128]:
# if I don't use a recursion
n1,n2 = 65,19

if n1>n2:
    big = n1
    small = n2
else:
    big = n2
    small = n1

s_ = s((s(big)%10)*10+s(small)%10)
b_ = s((s(big)//10)*10+s(small)//10)

big = b_
small = s_
big*100+small

9651

In [146]:
# recursion version merge function
def merge(n1,n2):
    # 21，31 --> 3211
    a,b,c,d = n1//10, n1%10, n2//10, n2%10
    if a >= b >= c >= d:
        return int(''.join([str(i) for i in [a,b,c,d] if i!=0])) 
    else:
        n1 = s(n1)
        n2 = s(n2)
        n1,n2 = (n1//10)*10 + n2//10, (n1%10)*10 + n2%10
        return merge(n1,n2)

merge(21,31)

3211

In [195]:
def ff(n):
    return n+1

def make_func_repeater(f,x):
    def repeat(x):
        if x ==1:
            return f(x)
        else:
            x = f(x-1)
            return f(x)
    return repeat

In [202]:
# a = make_func_repeater(ff,1)
a = make_func_repeater(ff,1)
a(2)

3

In [3]:
# factorial recursion version
def factorial(n):
    if n ==0:
        print(f"n={n}")
        return 1
    else:
        print(f"n={n}")
        return n * factorial(n-1)

In [4]:
factorial(4)

n=4
n=3
n=2
n=1
n=0

24

In [11]:
# cascade function
def cascade(n):
    if n<10:
        print(n)
    else:
        print(n)
        # print(f"first print n={n}")
        cascade(n//10)
        # print(f"second print n={n}")
        print(n)

In [12]:
cascade(132)

132
13
1
13
132

In [35]:
# inverse cascade function
def i_cascade(n):
    if n < 10:
        print(n)
    if n > 10:
        print(n)
        i_cascade(n//10)

In [37]:
def inverse_cascade(n):
    grow(n)
    print(n)
    shrink(n)

def f_then_g(f,g,n):
    if n:
        f(n)
        g(n)

def grow(n):
    f_then_g(grow,print,n//10)

def shrink(n):
    f_then_g(print,shrink,n//10)

inverse_cascade(1234)
# I still couldn't understand this!

1
12
123
1234
123
12
1

In [39]:
# Fibonacci seqs
def fib(n):
    # the n_th fib number
    if n ==0:
        return 0
    elif n ==1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

fib(7)

13

In [40]:
def move_disk(disk_num,from_peg,to_peg):
    print(f"move disk {str(disk_num)} from peg {str(from_peg)} to peg {str(to_peg)}")

def solve_hanoi(n,start_peg,end_peg):
    if n ==1:
        move_disk(n,start_peg,end_peg)
    else:
        spare_peg = 6-start_peg-end_peg
        solve_hanoi(n-1, start_peg,end_peg)
        move_disk(n,start_peg,end_peg)
        solve_hanoi(n-1,spare_peg,end_peg)

In [41]:
solve_hanoi(3,1,2)

move disk 1 from peg 1 to peg 2
move disk 2 from peg 1 to peg 2
move disk 1 from peg 3 to peg 2
move disk 3 from peg 1 to peg 2
move disk 1 from peg 3 to peg 2
move disk 2 from peg 3 to peg 2
move disk 1 from peg 1 to peg 2

In [ ]:
# count partitions
# count_partitions(5,3)
# 3+2
# 3+1+1
# 2+2+1
# 2+1+1+1
# 1+1+1+1+1
def count_partitions(n,m):
    # return how many ways to make the equation, e.g. there are 5 for f(5,3)
    if n==0:
        return 1
    elif n<0:
        return 0
    elif m==0:
        return 0
    else:
        with_m = count_partitions(n-m,m)
        without_m = count_partitions(n,m-1)
        return with_m + without_m

In [3]:
# write a recursive function and iterative function
# give n =5, return 5+4+3+2+1
def sum_i(n):
    s = 0
    for i in range(1,n+1):
        s = s+i
    return s

def sum_r(n):
    if n == 0:
        return 0
    else:
        return n + sum_r(n-1)


# sum_r(4) # 10
# sum_i(5) # 15

10

In [10]:
# 'ward'[::-1]
def reverse_r(s):
    assert len(s)>0
    if len(s) ==1:
        return s
    else:
        return reverse_r(s[1:]) + s[0]
reverse_r('ward')

'draw'

In [2]:
t = 280912
n = 3

0 2
1 8
2 0
3 9
4 1
5 2

In [1]:
# disc 04

# You want to go up a flight of stairs that has n steps. You can either take 1
# or 2 steps each time. How many different ways can you go up this 
# flight of
# stairs? Write a function count_stair_ways that solves this problem. Assume
# n is positive.

def count_stair_ways(n):
    # base case: stairs only have 1 step or 2 steps
    if n ==1:
        return 1
    elif n == 2:
        return 2
    else:
        return count_stair_ways(n-1) + count_stair_ways(n-2)
        # count_stair_ways(n-1) means the steps left if you have take 1 step
        # count_stair_ways(n-2) means the steps left if you have take 2 step

In [3]:
count_stair_ways(3)

3

In [24]:
# Tutorial: Consider a special version of the count_stairways problem,
# where instead of taking 1 or 2 steps, we are able to take up to and including
# k steps at a time.
# Write a function count_k that figures out the number of paths for this sce-
# nario. Assume n and k are positive.	

def count_k(n,k):

    if n==0:
        return 1
    elif n<0:
        return 0

    else:
        s = 0
        for i in range(1,k+1):
            s = s+count_k(n-i,k)
            # print(i,s)
        return s

In [26]:
count_k(300,1)

1

In [32]:
['jenkins', 'spielberg', 'bigelow', 'kubrick'][2::-1]

['bigelow', 'spielberg', 'jenkins']

In [42]:
def even_weighted(x):
    # _ = []
    # for i in range(len(x)):
    #     if i%2==0:
    #         _.append(x[i]*i)
    # return _
    return [x[i]*i for i in range(len(x)) if i%2==0]

            
even_weighted([1,2,3,4,5,6])

[0, 6, 20]

In [43]:
# Write a function that takes in a list and returns the maximum product that
# can be formed using nonconsecutive elements of the list. The input list will
# contain only numbers greater than or equal to 1.

def max_product(s):
    if len(s) ==0:
        return 1
    elif len(s) ==1:
        return s[0]
    else:
        return max(max_product(s[1:]),
                   s[0]*max_product(s[2:]))

In [51]:
max_product([99,99,0,1])

99

In [55]:
# draft for cats.py
#  cats
# scats (add head s)
# scat  (remove tail s)
def add1(start, goal):
    if start[0] != goal[0]:
        if start[0] == goal[1]:
            return 1
        else:
            return 0
    else:
        return 0

def remove1(start,goal):
    # scats
    # cats
    if start[0] != goal[0]:
        if start[1] == goal[0]:
            return 1
        else:
            return 0
    else:
        return 0

1

In [114]:
import pandas as pd

In [146]:
def editDistance_approxi(x, y, returnD=False):
    # Create distance matrix
    D = []
    for i in range(len(x)+1):
        D.append([0]*(len(y)+1))
    # Initialize first row and column of matrix
    for i in range(len(x)+1):
        D[i][0] = i  # first col
    for i in range(len(y)+1):
        D[0][i] = i  # first row
    
    # Fill in the rest of the matrix
    for i in range(1, len(x)+1):
        for j in range(1, len(y)+1):
            distHor = D[i][j-1] + 1  # skip from horizonal plus 1 (skip from p or x)
            distVer = D[i-1][j] + 1  # skip from vertical plus 1 (skip from t or y)
            if x[i-1] == y[j-1]:
                distDiag = D[i-1][j-1]   # match then plus 0
            else:
                distDiag = D[i-1][j-1] + 1
            D[i][j] = min(distHor, distVer, distDiag)  # not match then plus 1
    # Edit distance is the value in the bottom right corner of the matrix
    if returnD:
        return D, min(D[-1])
        # d = pd.DataFrame(D[0],index=['*']+[i for i in x],columns=["*"]+[i for i in y])
        # return d,min(D[-1])
    else:
        return min(D[-1])

In [163]:
small_words_list = ["spell", "nest", "test", "pest", "best", "bird", "wired",
                  "abstraction", "abstract", "wire", "peeling", "gestate",
                  "west", "spelling", "bastion"]
b = "arose"
a = "roses"

if len(a) >= len(b):
    D,out = editDistance_approxi(a,b,returnD=True)
    Df = pd.DataFrame(D,index=['*']+[i for i in a],columns=["*"]+[i for i in b])
else:
    D,out = editDistance_approxi(b,a,returnD=True)
    Df = pd.DataFrame(D,index=['*']+[i for i in b],columns=["*"]+[i for i in a])

Df
#    wreat   
#  place

#    place
#   wreat

#  arose
#   roses

   *  a  r  o  s  e
*  0  1  2  3  4  5
r  1  1  1  2  3  4
o  2  2  2  1  2  3
s  3  3  3  2  1  2
e  4  4  4  3  2  1
s  5  5  5  4  3  2

In [151]:
print(out)

0

In [126]:
import pandas as pd
a = "pla"
b = "wreat"

   *  w  r  e  a  t
*  0  1  2  3  4  5
p  1  1  2  3  4  5
l  2  2  2  3  4  5
a  3  3  3  3  3  4